td {
    background-color: rosybrown;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Ebrima, serif;
    font-size: 40px;
}

button {
    margin-top: 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    background-color: dimgray;
    color: white;
}

.red, .orange, .yellow, .green, .blue, .purple, .black, .white, .black, .gray {
    height: 200px;
    width: 120px;
}

#hide {
    background-color: antiquewhite;
}